<%- include("partials/header"); -%>
    <h1>Board of Posts</h1>
    <% for(post of posts) { %>
        <h1><%= post.title %></h1><p><%= post.content %></p>
        <% } %>
<%- include("partials/footer"); -%>
